<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="todo-styles.css" type="text/css">
    <title>To-do list</title>
</head>
<body>
    <div class="main-container">
        <div class="nav">
            <h1></h1>
            
        </div>
        <div class="title-container">
            <h1 class="title">To-do List</h1>
        </div>
        
        <div class="form-container">
            <form action="/add-todo" method="post" class="form">
                <input type="text" name="todo" placeholder="Task name" id="taskInput">
                <button id="button">
                    <p class="add">ADD</p>
                </button>
            </form>
        </div>
        <div class="task-container">
            <ul>
                <% for (let todo of todos) { %>
                    <li><%= todo.item %></li>
                <% } %>
            </ul>
        </div>
        <footer class="footer">
            <h1></h1>
        </footer>
    </div>
    
    <script src="todo.js"></script>
    
</body>
</html>